<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div class="container">
  <h2>Condensed Table</h2>
  <app-create-student></app-create-student>
  <app-list 
    type="colegio/profesor/listarProfesores"
    [columns]="[{key: 'id', name: 'Identificador'}, {key: 'nombre', name: 'Nombre'}]">
  </app-list>
  <app-list 
    type="colegio/estudiante/listarEstudiantes"
    [columns]="[{key: 'id', name: 'Identificador'}, {key: 'nombre', name: 'Nombre'}]">
  </app-list>
  <app-list 
    type="colegio/asignatura/profesor/1001"
    [columns]="columnsAsignature">
  </app-list>
  
</div>

</body>
</html>
